.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed; /* Fix the sidebar during scrolling */
    top: 0; /* Ensure the sidebar starts from the top of the viewport */
    left: 0;
    color: white;
    background: linear-gradient(45deg, #8b8a8a, #dcdbd7);
    border-right: 1px solid #444;
    overflow-y: auto; /* Add vertical scrolling if the content exceeds the viewport height */
  
    @media (max-width: 768px) {
      width: 60px; /* Collapse sidebar on smaller screens */
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
  
      li {
        padding: 12px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
  
        @media (max-width: 768px) {
          padding: 10px;
          text-align: center;
        }
  
        &:hover {
          background: #ffffff;
          color: #444;
          transform: translateX(5px);
        }
  
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #2e2e2e;
  
          span {
            margin-left: 10px;
  
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }
  }
  
  .dashboard-admin {
    display: flex;
    margin-left: 220px; /* Sidebar offset */
    min-height: 100vh;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
  
    @media (max-width: 768px) {
      margin-left: 70px; /* Adjust for smaller sidebar */
      flex-direction: column;
    }
  }
  