.admin-courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  
    .left {
      .dashboard-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        margin-left: 5px;
      }
    }
  
    .right {
      .course-form {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
        border: 1px solid #6cae4d; /* Green border to match the theme */
        background: linear-gradient(135deg, #6cae4d, #a0ffae); /* Soft green gradient background */
  
        h2 {
          font-size: 24px;
          color: #152516; /* Dark green for the header */
          margin-bottom: 15px;
        }
  
        form {
          text-align: left;
  
          label {
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
            color: #333; /* Dark gray for label text */
          }
  
          input,
          select {
            width: 92%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #6cae4d; /* Green border for inputs */
            border-radius: 5px;
            background-color: #f4f4f4; /* Light gray background for inputs */
          }
  
          input:focus,
          select:focus {
            outline: none;
            border: 1px solid #a8ff78; /* Lighter green border on focus */
            box-shadow: 0 0 5px rgba(42, 111, 71, 0.3); /* Green glow effect on focus */
          }
        }
      }
    }
  }
  