.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full-screen height */
  background: linear-gradient(135deg, #9a9a9f, rgb(246, 243, 243)); /* Dark and light gradient */
  font-family: 'Roboto', sans-serif;
}

.auth-form {
  background: hsla(210, 2%, 84%, 0.9); /* Semi-transparent white */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 28px;
    color: #222223; /* Dark gray for header text */
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  }

  form {
    text-align: left;

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
      color: #3d3d3f; /* Dark gray for label text */
    }

    input {
      width: 95%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #3d3d3f; /* Dark gray border */
      border-radius: 8px;
      font-size: 14px;
      color: #555;
      background: rgb(246, 243, 243); /* Light gray background */
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #3d3d3f; /* Darker focus color */
        box-shadow: 0 0 5px rgba(61, 61, 63, 0.4);
        outline: none;
      }
    }

    button {
      width: 100%;
      padding: 12px;
      background: #3d3d3f; /* Dark gray for button */
      color: rgb(246, 243, 243);
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
      margin-left: 7px;

      &:hover {
        background: rgb(246, 243, 243); /* Light background on hover */
        color: #3d3d3f;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .footer {
    margin-top: 15px;
    font-size: 14px;
    color: #4f4f4f; /* Neutral gray text for footer */

    a {
      color: #3d3d3f; /* Dark gray for footer links */
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
